<% if preview_mode? %>
  <div class="focus__top_warning"><%= icon "error-warning-line" %> <%= t("decidim.vocdoni.votes.new.preview_alert") %></div>
<% end %>

<div class="focus__top">
  <%= render partial: "layouts/decidim/logo", locals: { organization: current_organization } %>
  <nav class="focus__user topbar__user__logged"></nav>
  <%= link_to exit_path, class: "focus__exit" do %>
    <span class="text-muted focus__x-icon" aria-hidden="true">×</span>
    <%= t(".exit") %>
  <% end %>
</div>
