<div class="card">
  <ul class="tabs">
    <li class="<%= tab_class("basic_info", active_class) %>">
      <%= link_to t("basic_info", scope: "decidim.vocdoni.admin.elections.new"), edit_election_path(election), class: tab_link_class("basic_info", election) %>
    </li>
    <li class="<%= tab_class("questions", active_class) %>">
      <%= link_to t("questions", scope: "decidim.vocdoni.admin.elections.new"), election_questions_path(election), class: tab_link_class("questions", election) %>
    </li>
    <li class="<%= tab_class("census", active_class) %>">
      <%= link_to t("census", scope: "decidim.vocdoni.admin.elections.new"), election_census_path(election), class: tab_link_class("census", election) %>
    </li>
    <li class="<%= tab_class("results", active_class) %>">
      <%= link_to t("results", scope: "decidim.vocdoni.admin.elections.new"), edit_election_election_calendar_path(election, election_id: election.id), class: tab_link_class("results", election) %>
    </li>
    <li class="<%= tab_class("publish", active_class) %>">
      <%= link_to t("publish", scope: "decidim.vocdoni.admin.elections.new"), publish_page_election_path(election), class: tab_link_class("publish", election) %>
    </li>
  </ul>
</div>
