<% add_decidim_meta_tags(
  title: translated_attribute(election.title),
  description: translated_attribute(election.description)
) %>

<%
edit_link(
  resource_locator(election).edit,
  :update,
  :election,
  election: election
)
%>

<%= append_javascript_pack_tag "decidim_vocdoni_elections" %>
<%= append_stylesheet_pack_tag "decidim_vocdoni_elections" %>

<% content_for :aside do %>
  <%= cell("decidim/vocdoni/election_vote_cta", election) %>
<% end %>

<%= render layout: "layouts/decidim/shared/layout_item" do %>
  <section class="layout-main__section layout-main__heading">
    <% unless single? %>
      <div class="flex items-center">
        <%= icon "arrow-left-s-fill", class: "icon--small" %>
        <%= link_to t("decidim.vocdoni.elections.show.back"), elections_path %>
      </div>
    <% end %>
    <%= render partial: "decidim/shared/component_announcement" %>

    <%= cell "decidim/vocdoni/remaining_time_callout", election %>
    <%= cell("decidim/announcement", t("#{election.manual_start? ? "manual_start_status" : "voting_period_status"}.#{election.voting_period_status}",
                                       scope: "decidim.vocdoni.elections.show",
                                       start_time: election.start_time ? "<strong>#{l election.start_time, format: :long}</strong>" : "",
                                       end_time: "<strong>#{l election.end_time, format: :long}</strong>").html_safe) %>

    <h1 class="h2 decorator"><%== present(election).title %></h1>
  </section>

  <section class="layout-main__section">
    <div class="editor-content">
      <%= decidim_sanitize_editor_admin(translated_attribute(election.description)) %>
    </div>
  </section>

  <%= attachments_for election %>

  <% unless election.finished? %>
    <section class="layout-main__section">
      <%= cell("decidim/vocdoni/election_preview", election) %>
    </section>
  <% end %>

  <% if @election_data %>
    <section class="layout-main__section">
      <%= cell("decidim/vocdoni/election_results_realtime", election, election_data: @election_data) %>
    </section>
  <% end %>

  <% if election.results_published? %>
    <section class="layout-main__section">
      <%= cell("decidim/vocdoni/election_results", election) %>
    </section>
  <% end %>
<% end %>
