<div class="card">
  <%= render partial: "decidim/vocdoni/admin/shared/tab_links", locals: { active_class: "questions", election: election, status: census_status } %>
  <% add_decidim_page_title(t(".title")) %>

  <%= decidim_form_for([election, question, @form], html: { class: "form new_answer" }) do |f| %>
    <%= render partial: "form", object: f, locals: { title: t(".title") } %>

    <div class="button--double form-general-submit">
      <%= f.submit t(".create") %>
    </div>
  <% end %>
</div>
<%= stylesheet_pack_tag "decidim_vocdoni_admin_stylesheet" %>
