<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= t(".title") %></h2>
  </div>

  <div class="card-section">
    <p><%= t(".message") %></p>

    <%= render partial: "action_buttons", locals: { election: election } %>

    <div class="callout warning">
      <p><%= t(".start_describe") %></p>
        <%= button_to t(".start_election"), manual_start_election_path(election),
                      method: :post,
                      class: "button js-vocdoni-interruptible",
                      data: { action: ["continue", "success"], confirm: t("confirm",  scope: "decidim.vocdoni.admin.steps.danger_zone") }%>
    </div>
  </div>
</div>
