<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= t(".title") %></h2>
  </div>

  <div class="card-section">
    <% if election.vocdoni_election_id.blank? %>
      <div class="callout success js-vocdoni-election-creating">
        <span class="loading-spinner"></span>
        <%= t(".creating") %>
      </div>
      <div class="callout alert hide js-vocdoni-election-creating-error">
        <h2><%= t(".error_vocdoni.title") %></h2>
        <p><%= t(".error_vocdoni.message") %></p>
      </div>
    <% end %>

    <div class="js-vocdoni-election-created<%= " hide" if election.vocdoni_election_id.blank? %>">
      <p><%= t(".message") %></p>

      <%= render partial: "action_buttons", locals: { election: election } %>
      <% if election.manual_start? %>
        <div class="callout warning">
          <p class="flex-center"><%= t(".start_describe") %></p>
          <div class="flex-center">
            <%= manual_start_button(manual_start_election_path(election), "media-play") %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
