<div class="card">
  <div class="card-divider">
    <h2 class="card-title"><%= t(".title") %></h2>
  </div>

  <div class="card-section">
    <p><%= t(".message") %></p>

    <%= link_to resource_locator(election).path, class: "button primary" do %>
       <%= icon "eye", role: "img", aria_label: t("actions.preview", scope: "decidim.vocdoni"), target: :blank %>
       <%= t(".preview") %>
    <% end %>

    <%= link_to election.explorer_vote_url, class: "button primary hollow", target: :blank, rel: "noopener noreferrer" do %>
      <%= t(".explorer_vote") %>
    <% end %>

    <span></span>
  </div>
</div>
