<div class="card js-danger-zone<%= " hide" if election.misconfigured? %>">
  <div class="card-divider">
    <h2 class="item_show__header-title"><%= t("title", scope: "decidim.vocdoni.admin.steps.danger_zone") %></h2>
  </div>

  <%
    if election.auto_start?
      action = nil
    elsif !election.started? || election.created?
      action = "created"
    elsif election.interruptible?
      action = "paused" if election.vote?
      action = "vote" if election.paused?
    end
    if action
  %>
    <div class="card-section callout warning js-election-actions <%= action %>">
      <p class="text-center"><%= t(action, scope: "decidim.vocdoni.admin.steps.danger_zone.messages") %></p>
      <div class="flex justify-center">
        <%= f.hidden_field :status, value: action %>
        <%= danger_zone_submit(f, action) %>
      </div>
    </div>
  <% end %>

  <% if election.interruptible? %>
    <div class="card-section callout alert js-election-actions cancel_end">
      <p class="text-center"><%= t("cancel_end_html", scope: "decidim.vocdoni.admin.steps.danger_zone.messages") %></p>
      <div class="flex justify-center">

        <%= link_to election_step_path(election, :cancel, status: :canceled), method: :patch,
                    class: "button button__sm button__alert js-button-submit",
            data: { status: "canceled", confirm: t("confirm",  scope: "decidim.vocdoni.admin.steps.danger_zone") } do %>
            <%= icon("close-circle-line", class: "icon--before") %>
            <%= t("cancel", scope: "decidim.vocdoni.admin.steps.danger_zone.action") %>
        <% end %>
        <%= link_to election_step_path(election, :end, status: :end), method: :patch,
                    class: "button button__sm button__alert js-button-submit",
            data: { status: "end", confirm: t("confirm",  scope: "decidim.vocdoni.admin.steps.danger_zone") } do %>
            <%= icon("stop-circle-line", class: "icon--before") %>
            <%= t("end", scope: "decidim.vocdoni.admin.steps.danger_zone.action") %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<%= append_javascript_pack_tag "decidim_vocdoni_admin" %>
