<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t(".title") %>
    </h2>
  </div>
  <div class="card-section table-scroll">
    <ul class="voc-accordion mb-m evote__preview js-votes-count"
        data-wallet="<%= @current_vocdoni_wallet.private_key %>"
        data-vocdoni-env="<%= Decidim::Vocdoni.config.api_endpoint_env %>"
        data-election-unique-id="<%= @election.vocdoni_election_id %>"
        data-accordion
        data-multi-expand="true"
        data-allow-all-closed="true">
        <% election.questions.each_with_index do |question, idx| %>
          <li class="accordion-item evote__preview-question <%= " is-active" if idx == 0 %>" data-accordion-item>
            <a href="#" class="accordion-title flex--sbc"><%= t(".question") %>: <%= translated_attribute(question.title) %></a>
            <div class="accordion-content" data-tab-content>
              <div>
                <table>
                  <thead>
                    <tr>
                      <th><%= t(".answer") %></th>
                      <th><%= t(".result") %></th>
                    </tr>
                  </thead>
                  <tbody>
                    <% question.answers.each do |answer| %>
                      <tr>
                        <td><%= translated_attribute(answer.title) %></td>
                        <td data-question-idx="<%= idx %>" data-answer-id="<%= answer.id %>"><span class="loading-spinner"></span></td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              </div>
            </div>
          </li>
        <% end %>
    </ul>
  </div>
</div>
