<div class="card">
  <div class="card-divider">
    <h2 class="item_show__header-title"><%= t(".title") %></h2>
  </div>

  <div class="card-section">
    <p><%= t(".text") %></p>

    <div class="callout warning js-votes-results-error-fetch hide">
      <p><%= t(".error.fetch") %></p>
    </div>

    <%= render partial: "action_buttons", locals: { election: election } %>
  </div>
</div>

<%= render(partial: "vote_stats") %>
