<div class="card">
  <div class="card-divider">
    <h2 class="card-title">
      <%= t(".title") %>
    </h2>
  </div>
  <div class="table-scroll">
    <div class="card-section js-no-vote-stats-message">
      <p><%= t(".no_vote_statistics_yet") %></p>
    </div>
    <table class="table-list js-votes-count hide"
       data-wallet="<%= @current_vocdoni_wallet.private_key %>"
       data-election-unique-id="<%= @election.vocdoni_election_id %>">
      <thead>
        <tr>
          <th></th>
          <th><%= t(".votes") %></th>
          <th><%= t(".voters") %></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td class="js-vote-stats"></td>
          <td class="js-voters-stats"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
