<% add_decidim_page_title(translated_attribute(election.title)) %>
<% add_decidim_page_title(t(".title")) %>
<%= append_javascript_pack_tag "decidim_vocdoni_admin" %>
<%= append_stylesheet_pack_tag "decidim_vocdoni_admin" %>

<div class="card js-vocdoni-client"
     id="max-vote-overwrites"
     data-max-vote-overwrites="<%= Decidim::Vocdoni.votes_overwrite_max %>"
     data-default-locale="<%= current_organization.default_locale %>"
     <% if @election.vocdoni_election_id %>
     data-vocdoni-election-id="<%= @election.vocdoni_election_id %>"
     <% end %>
     data-info-path="<%= election_path(election) %>"
     data-results-path="<%= election_step_path(election, :results, format: :json) %>"
     data-html-results-path="<%= election_step_path(election, :results, format: :html) %>"
     data-vocdoni-env="<%= Decidim::Vocdoni.api_endpoint_env %>">

  <div class="item_show__header">
    <h2 class="item_show__header-title">
      <%= link_to translated_attribute(election.title), elections_path, class: "contents" %> &gt;
      <%= t("index.title", scope: "decidim.vocdoni.admin.steps") %>
    </h2>
  </div>

  <div class="card-section mt-16 mb-8">
    <ol class="progress-indicator">
      <% steps(current_step).each_with_index do |step, i| %>
        <li class="<%= step.last %>" data-step="">
          <span><%= t("steps.#{step.first}.title", scope: "decidim.vocdoni.admin") %></span>
        </li>
      <% end %>
    </ol>
  </div>
  <%= render partial: "available_credits" %>
</div>

<% if @form %>
  <%= decidim_form_for(@form, url: election_step_path(election, current_step), method: :patch, html: { id: "new_election_status_", class: "form step #{current_step}" }) do |f| %>

    <%= render partial: "update_census" if @election.internal_census? && @election.started? %>

    <%= render partial: current_step.to_s, locals: { form: @form, f: f } %>

    <%= f.hidden_field :current_step %>

    <% if @form.main_button? %>
      <div class="flex justify-center mt-8 form-general-submit<%= " hide" if election.misconfigured? %>">
        <%= f.button type: :submit, class: "button button__lg button__secondary", disabled: @form.invalid? do %>
          <%= t("steps.#{current_step}.submit", scope: "decidim.vocdoni.admin") %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% else %>
  <div class="content <%= current_step %>">
    <%= render partial: current_step.to_s %>
  </div>
<% end %>

<%= render partial: "vocdoni_logo" %>
