<%= render("focus_header", header_title: t("decidim.vocdoni.votes.header.login")) %>

<div class="focus__content evote">
  <div class="row">
    <% if (voter_not_yet_in_census?(election) && election.internal_census?) || election.verification_types.empty? %>
      <h1 class="heading2">
        <%= t(".title") %>
      </h1>
      <p><%= t(".verification") %></p>
    <% else %>
      <h1 class="heading2">
        <%= t(".title") %>
      </h1>
      <p><%= t(".description") %></p>
    <% end %>
    <div class="evote__content">
      <div class="evote__grid">
        <% unless election.internal_census? %>
          <%= render partial: "login", locals: { form: @form } %>
        <% end %>
      </div>
    </div>
    <%= render partial: "vocdoni_logo" %>
  </div>
</div>
