<%= render("focus_header", header_title: t("decidim.vocdoni.votes.header.login")) %>

<div class="focus__content evote">
  <div class="row">
    <h1 class="heading2">
      <%= t(".title") %>
    </h1>
    <p><%= t(".description") %></p>
    <div class="evote__content">
      <div class="evote__grid">
        <%= decidim_form_for(@form, url: "#", html: { class: "form", autocomplete: "off" }) do |f| %>
          <div class="row mt-sm">
            <div class="columns medium-centered large-8">
              <p class="text-center"><strong><%= t(".form_title") %></strong></p>
              <div class="card">
                <div class="card__content">
                  <form>
                    <div>
                      <div class="callout alert hide js-login_error"><%= t(".failed") %></div>
                    </div>
                    <div>
                      <%= render partial: "login_fields", locals: { f: f } %>
                    </div>
                    <%= f.submit t(".check_status"), class: "button expanded mt-s mb-none" %>
                  </form>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
