<%= decidim_form_for(@form, url: "#", html: { class: "form form-defaults", autocomplete: "off" }) do |f| %>
  <% scope = "decidim.vocdoni.votes.check_census" %>
  <div class="form__wrapper">
    <div class="card pt-4 evote__login">
      <div class="item_show__header">
        <h2 class="item_show__header-title"><strong><%= t("form_title", scope: scope) %></strong></h2>
      </div>
      <div class="card-section">
        <div class="row column">
          <div class="callout alert hidden js-login_error"><%= t("failed", scope: scope) %></div>
          <div class="callout warning hidden js-election_not_open"><%= t("election_not_open", scope: scope) %></div>
        </div>
        <%= render partial: "login_fields", locals: { f: f } %>
        <div class="row column">
          <%= f.submit t("access", scope: scope), class: "button button__lg button__secondary census__login-button mt-2 mb-0" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
