<div class="flex justify-center">
  <h1 class="title-decorator my-12">
    <%= t("decidim.vocdoni.votes.failed.header") %>
  </h1>
</div>

<div class="space-y-4 text-center">
  <div class="row">
    <h2 class="h4"><%= t("decidim.vocdoni.votes.failed.lead") %></h2>

    <div class="evote__content">
      <div class="callout alert">
        <span id="error-unknown">
          <%= t("decidim.vocdoni.votes.failed.message.unknown") %>
        </span>
        <span id="error-no_votes_left">
          <%= t("decidim.vocdoni.votes.failed.message.no_votes_left") %>
        </span>
      </div>
    </div>

    <%= link_to new_election_vote_path(election), class: "button button__lg button__secondary" do %>
      <%= t("decidim.vocdoni.votes.failed.try_again") %>
    <% end %>
  </div>
</div>
