<% add_decidim_page_title(translated_attribute(election.title)) %>
<% add_decidim_page_title(t(".title")) %>

<%= render partial: "decidim/vocdoni/admin/shared/election_title" %>
<%= render partial: "decidim/vocdoni/admin/shared/tab_links", locals: { active_class: "census", election: election, status: status } %>
<div class="card">
  <div class="card-section">
    <% if status.pending_upload? %>
      <div class="card">
        <div class="item_show__header">
          <h2 class="item_show__header-title">
            <%= t("index.title", scope: "decidim.vocdoni.admin.census") %>
          </h2>
        </div>
        <div class="card-section">
          <p>
            <%= t("index.info", scope: "decidim.vocdoni.admin.census") %>
          </p>
        </div>
        <div class="card-section collection-input flex items-center">
          <div class="flex items-center mr-8">
            <%= label_tag nil, class: "mr-2" do %>
              <%= radio_button_tag "census_type", "csv", !election.internal_census?, id: "csv_radio_button", data: { csv_radio_button: true } %>
              <%= t("census_type.external", scope: "decidim.vocdoni.admin.census") %>
            <% end %>
          </div>

          <div class="flex items-center">
            <%= label_tag nil, class: "mr-2" do %>
              <%= radio_button_tag "census_type", "permissions", election.internal_census?, id: "permissions_radio_button",data: { permissions_radio_button: true } %>
              <%= t("census_type.internal", scope: "decidim.vocdoni.admin.census") %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <% if status.count > 0 %>
      <div class="card">
        <div class="card-divider">
          <h2 class="item_show__header-title">
            <%= t("status.title", scope: "decidim.vocdoni.admin.census") %>
          </h2>
        </div>
        <div class="card-section">
          <% if status.ready_to_setup? && election.internal_census? %>
            <div class="callout success">
              <p><%= t("status.internal_census_ready_to_setup_html", scope: "decidim.vocdoni.admin.census", steps_path: election_steps_path(election)) %>
                <span>(<%= election.verification_types.empty? ?
                             t("status.no_additional_authorizations", scope: "decidim.vocdoni.admin.census") :
                             election.verification_types.map { |type| t("decidim.authorization_handlers.#{type}.name").downcase }.join(", ") %>)
                </span>
              </p>
            </div>
        <% elsif status.ready_to_setup? %>
            <div class="callout success">
              <p><%= t("status.ready_to_setup_html", scope: "decidim.vocdoni.admin.census", steps_path: election_steps_path(election)) %></p>
            </div>
          <% else %>
            <div class="callout alert">
              <p><%= t("status.processing_html", scope: "decidim.vocdoni.admin.census") %></p>
              <p><strong id="census-processing-percentage"><%= t("status.percentage_complete", scope: "decidim.vocdoni.admin.census", count: status.count, percentage: status.percentage_complete) %></strong></p>
            </div>
          <% end %>
          <p class="mb-4"><%= t("decidim.vocdoni.admin.census.status.data", count: status.count, due_date: l(status.last_import_at, format: :long)) %></p>
          <%= link_to destroy_all_election_census_path(election),
                      method: :delete,
                      class: "button button__sm button__primary",
                      data: { confirm: t("decidim.vocdoni.admin.census.destroy.confirm") } do %>
              <%= icon "delete-bin-line", role: "img", "aria-hidden": true %>
              <%= t("decidim.vocdoni.admin.census.destroy.title") %>
          <% end %>
        </div>
      </div>
    <% end %>

    <% if status.pending_upload? %>
      <div data-csv-upload id="csv_upload" class="card">
        <div class="card">
          <div class="card-divider">
            <h2 class="item_show__header-title">
              <%= t("new.title.external", scope: "decidim.vocdoni.admin.census") %>
            </h2>
          </div>
          <div class="card-section">
            <%= render partial: "upload_form", locals: { form: @form, election: election } %>
          </div>
        </div>
      </div>

      <div data-permissions-select id="permissions_select" class="" style="display: none;">
        <div class="card-divider">
          <h2 class="item_show__header-title">
            <%= t("new.title.internal", scope: "decidim.vocdoni.admin.census") %>
          </h2>
        </div>
        <div class="card-section card">
          <p class="help-text"><%= t("permissions_warning_html", scope: "decidim.vocdoni.admin.census") %></p>
          <div class="item__edit item__edit-1col">
            <div class="item__edit-form mt-4 vocdoni-elections">
              <%= render partial: "decidim_permissions_form", locals: { form: @census_permissions_form, election: election, current_organization: current_organization } %>
            </div>
          </div>
        <!--closing tag moved to the form-->
      </div>
    <% else %>
      <% if allowed_to?(:edit, :election_calendar, election: election) && election.ready_for_calendar_form? %>
        <%= render "decidim/vocdoni/admin/shared/next_wizard_step", path: edit_election_calendar_path(election) %>
      <% end %>
    <% end %>
    <% unless status.name == "ready" ||
      (election.internal_census? && election.verification_types.empty?) ||
      election.internal_census? && election.voters.empty? %>
      <div class="mt-s">
        <div data-census-warning-text class="callout alert census_warning_text"></div>
      </div>
      <div id="translations"
           data-translations
           data-csv-warning="<%= t("census_warning_for_csv_html", scope: "decidim.vocdoni.admin.census.index") %>"
           data-permissions-warning="<%= t("census_warning_for_internal_census_html", scope: "decidim.vocdoni.admin.census.index") %>">
      </div>
    <% end %>
    <% if election.internal_census? && election.verification_types.any? && election.voters.empty? %>
      <div class="mt-2">
        <div class="callout warning">
          <%= t("census_empty", scope: "decidim.vocdoni.admin.census.index") %>
        </div>
        <div class="flex">
          <% if allowed_to?(:edit, :election_calendar, election: election) && election.ready_for_calendar_form? %>
            <%= link_to t("next_button", scope: "decidim.vocdoni.admin.elections.new"), edit_election_calendar_path(election), class: "button button__sm button__secondary" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  </div>
</div>

<%= append_javascript_pack_tag "decidim_vocdoni_admin" %>
