<div>
  <div class="flex items-center justify-between gap-2">
    <div class="flex justify-between grow bg-gray"
         role="progressbar"
         tabindex="0"
         aria-labelledby="total-answers-<%= id %>"
         aria-valuenow="<%= votes_percentage %>"
         aria-valuemin="0"
         aria-valuetext="<%= votes_percentage %> %"
         aria-valuemax="100">
      <div class="h-2 bg-success" style="width: <%= votes_percentage %>%"></div>
    </div>

    <div class="w-1/6 md:w-1/12 font-bold text-right">
      <%= t("decidim.vocdoni.elections.results.percentage", count: votes_percentage) %>
    </div>
  </div>

  <div id="total-answers-<%= id %>" class="text-sm font-semibold">
    <%= t("decidim.vocdoni.elections.results.votes", count: votes) %>
  </div>
</div>
