<div class="progress__bar">
  <div class="evote__preview-bar">
    <div class="progress progress__bar__bar" role="progressbar" tabindex="0" aria-valuenow="<%= votes_percentage %>%" aria-valuemin="0" aria-valuetext="<%= votes_percentage %>% percent" aria-valuemax="100">
      <div class="progress-meter progress__bar__bar--complete" style="width: <%= votes_percentage %>%"></div>
      <div class="progress__bar__bar--incomplete" style="width:calc(100% - <%= votes_percentage %>%);"></div>
    </div>

    <div class="evote__preview-perc">
      <%= t("decidim.vocdoni.elections.results.percentage", count: votes_percentage) %>
    </div>
  </div>

  <div class="evote__preview-label">
    <%= t("decidim.vocdoni.elections.results.votes", count: votes) %>
  </div>
</div>
