<div class="election__section-title">
  <%= icon "bar-chart-box-line" %>
  <h2 class="h4"><%= t("decidim.vocdoni.elections.results.title") %></h2>
</div>

<p class="election__section-desc"><%= t("decidim.vocdoni.elections.results.description") %></p>


<ul id="accordion-results" class="space-y-8" data-component="accordion">
  <% model.questions.each_with_index do |question, ix| %>
    <li class="election__accordion">
      <button id="accordion-trigger-<%= ix %>" data-controls="accordion-panel-<%= ix %>" class="election__accordion-trigger" <%= " data-open='true'" if ix.zero? %>>
        <%= translated_attribute(question.title) %>
        <%= icon "arrow-down-s-line" %>
        <%= icon "arrow-up-s-line" %>
      </button>

      <div id="accordion-panel-<%= ix %>" class="election__accordion-panel" aria-hidden="true">
        <% question.answers.each do |answer| %>
          <div>
            <p>
              <%= translated_attribute(answer.title) %>
            </p>

            <%= render view: :progress_bar, locals: { id: answer.id, votes_percentage: answer.votes_percentage, votes: answer.votes } %>
          </div>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
