<% add_decidim_page_title(translated_attribute(election.title)) %>
<% add_decidim_page_title(t(".title")) %>

<%= render partial: "decidim/vocdoni/admin/shared/election_title" %>
<%= render partial: "decidim/vocdoni/admin/shared/tab_links", locals: { active_class: "basic_info", election: election } %>
<div class="item__edit item__edit-1col">
  <div class="item__edit-form">
    <%= decidim_form_for(@form, html: { class: "form edit_election form-defaults" }) do |f| %>
      <%= render partial: "form", object: f, locals: { title: t(".title") } %>
      <div class="item__edit-sticky">
        <div class="item__edit-sticky-container">
          <%= f.button type: :submit, class: "button button__sm button__secondary" do %>
            <%= icon "check-double-line", role: "img", "aria-hidden": true %>
            <%= t("save_button", scope: "decidim.vocdoni.admin.elections.new") %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= append_javascript_pack_tag "decidim_vocdoni_admin" %>
