<% add_decidim_page_title(translated_attribute(election.title)) %>
<% add_decidim_page_title(t(".title", title: election.title)) %>
<div class="card-divider mb-s">
  <h2 class="card-title">
    <%= t("title", scope: "decidim.vocdoni.admin.elections.edit") %>
    "<%= translated_attribute(election.title) %>"
  </h2>
</div>
<%= render partial: "decidim/vocdoni/admin/shared/tab_links", locals: { active_class: "basic_info", election: election } %>

<%= decidim_form_for(@form, html: { class: "form edit_election" }) do |f| %>
  <%= render partial: "form", object: f, locals: { title: t(".title") } %>

  <div class="button--double form-general-submit">
    <%= f.submit t("save_button", scope: "decidim.vocdoni.admin.elections.new") %>
  </div>
<% end %>
<%= stylesheet_pack_tag "decidim_vocdoni_admin_stylesheet" %>
