<% vote_stats_scope = "decidim.vocdoni.admin.steps" %>
<div class="row realtime-results">
  <div class="columns large-8">
    <h3 class="section-heading"><%= t("vote_stats.title", scope: vote_stats_scope) %></h3>
    <p><%= t("description", scope: "decidim.vocdoni.elections.show") %></p>
    <div class="card">
      <div class="card-section table-scroll">
        <ul class="voc-accordion accordion mb-m evote__preview js-votes-count"
            data-accordion
            data-multi-expand="true"
            data-allow-all-closed="true"
            data-url="<%= election_url %>">
          <% model.questions.each_with_index do |question, question_index| %>
            <li class="accordion-item evote__preview-question <%= " is-active" if question_index == 0 %>" data-accordion-item>
              <a href="#" class="accordion-title flex--sbc"><%= t("vote_stats.question", scope: vote_stats_scope) %>: <%= translated_attribute(question.title) %></a>
              <div class="accordion-content" data-tab-content>
                <div>
                  <table>
                    <thead>
                    <tr>
                      <th><%= t("vote_stats.answer", scope: vote_stats_scope) %></th>
                      <th><%= t("vote_stats.result", scope: vote_stats_scope) %></th>
                    </tr>
                    </thead>
                    <tbody>
                    <% question.answers.each_with_index do |answer, answer_index| %>
                      <tr>
                        <td><%= translated_attribute(answer.title) %></td>
                        <td class="votes-for-answer"
                            data-question-index="<%= question_index %>"
                            data-answer-index="<%= answer_index %>">
                          <%= election_results&.dig(question_index, answer_index)&.to_i || 0 %>
                        </td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<%= javascript_pack_tag "decidim_vocdoni_update_results" %>
