<% vote_stats_scope = "decidim.vocdoni.admin.steps" %>
<div class="election__section-title">
  <%= icon "bar-chart-box-line" %>
  <h2 class="h4"><%= t("vote_stats.title", scope: vote_stats_scope) %></h2>
</div>

<p class="election__section-desc"><%= t("description", scope: "decidim.vocdoni.elections.show") %></p>

<div class="row realtime-results">
  <div class="columns large-8">
    <div class="card">
      <div class="card-section table-scroll">
        <ul class="space-y-8" data-url="<%= election_url %>" data-component="accordion">
          <% model.questions.each_with_index do |question, question_index| %>
            <li class="election__accordion accordion-item evote__preview-question data-accordion-item">
              <button id="accordion-trigger-result-<%= question_index %>"
                      data-controls="accordion-panel-result-<%= question_index %>"
                      class="election__accordion-trigger" <%= " data-open='true'" if model.questions.one? %>>
                <%= translated_attribute(question.title) %>
                <%= icon "arrow-down-s-line" %>
                <%= icon "arrow-up-s-line" %>
              </button>
              <div class="election__accordion-panel-result"
                   aria-hidden="true"
                   id="accordion-panel-result-<%= question_index %>">
                <div>
                  <table>
                    <thead>
                    <tr>
                      <th><%= t("vote_stats.answer", scope: vote_stats_scope) %></th>
                      <th><%= t("vote_stats.result", scope: vote_stats_scope) %></th>
                    </tr>
                    </thead>
                    <tbody>
                    <% question.answers.each_with_index do |answer, answer_index| %>
                      <tr>
                        <td><%= translated_attribute(answer.title) %></td>
                        <td class="votes-for-answer"
                            data-question-index="<%= question_index %>"
                            data-answer-index="<%= answer_index %>">
                          <%= election_results&.dig(question_index, answer_index)&.to_i || 0 %>
                        </td>
                      </tr>
                    <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

<%= append_javascript_pack_tag "decidim_vocdoni_update_results" %>
