<% add_decidim_page_title(t(".title")) %>
<%= render partial: "decidim/vocdoni/admin/shared/election_title" %>
<%= render partial: "decidim/vocdoni/admin/shared/tab_links", locals: { active_class: "questions", election: election, status: census_status } %>
<%= decidim_form_for([election, @form], html: { class: "form new_question" }) do |f| %>
  <%= render partial: "form", object: f, locals: { title: t(".title") } %>

  <div class="button--double form-general-submit">
    <%= f.submit t(".create") %>
  </div>
<% end %>
<%= stylesheet_pack_tag "decidim_vocdoni_admin_stylesheet" %>
