<% if model.ongoing? %>
  <%= cell("decidim/announcement", callout_text) %>
<% end %>

<div>
  <% if model.ongoing? %>
    <%= link_to new_election_vote_path, resource: model, class: "button button--sc" do %>
      <%= vote_action_button_text %>
    <% end %>
  <% elsif !model.finished? %>
    <span class="button button--sc disabled"><%= t("action_button.vote", scope: "decidim.vocdoni.elections.show") %></span>
  <% end %>

  <% if preview_mode? && can_preview? %>
    <%= link_to new_election_vote_path, class: "button button--sc" do %>
      <%= t("preview", scope: "decidim.vocdoni.elections.show") %>
    <% end %>
  <% end %>
</div>

<div class="text-sm">
<% if model.started? %>
  <%= t("verify.already_voted", scope: "decidim.vocdoni.elections.show") %>

  <%= link_to t("verify.verify_here", scope: "decidim.vocdoni.elections.show"), election_vote_verify_path, target: "_blank", rel: "noopener noreferrer" %>
<% else %>
  <span class="disabled"><%= t("verify.will_verify", scope: "decidim.vocdoni.elections.show") %></span>
<% end %>
</div>
